.free{
  width: 500px;
  height: 500px;
  border-radius: 2%;
  border: 2px;
  margin: 50px;
  padding-top: 2%;
 background-color: whitesmoke;
 text-align: center;
}
.box{
  margin: 2%;
  display: flex;
  flex-direction: row;
  background-color: rgb(9, 168, 226);
  border-radius: 5px;
}
.plus{
  width: 500px;
  height: 500px;
  border-radius: 2%;
  border: 2px;
  margin: 50px;
  padding-top: 2%;
 background-color: whitesmoke;
 text-align: center;
}
.pro{
  width: 500px;
  height: 500px;
  border-radius: 2%;
  border: 2px;
  margin: 50px;
  padding-top: 2%;
 background-color: whitesmoke;
 text-align: center;
}
.btn{
  width: 200px;
}